{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Numero_telephone</th>
                <th>Promotion_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.email }}</td>
                <td>{{ candidat.numeroTelephone }}</td>
                <td>{{ candidat.promotionId }}</td>
                <td>
                    <a href="{{ path('app_cadidat_show', {'id': candidat.id}) }}">show</a>
                    <a href="{{ path('app_cadidat_edit', {'id': candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cadidat_new') }}">Create new</a>
{% endblock %}
