{% extends 'base.html.twig' %}

{% block title %}OrganismeFormation{% endblock %}

{% block body %}
    <h1>OrganismeFormation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organisme_formation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ organisme_formation.nom }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ organisme_formation.addresse }}</td>
            </tr>
            <tr>
                <th>Numero_telephone</th>
                <td>{{ organisme_formation.numeroTelephone }}</td>
            </tr>
            <tr>
                <th>Email_contact</th>
                <td>{{ organisme_formation.emailContact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_organisme_formation_index') }}">back to list</a>

    <a href="{{ path('app_organisme_formation_edit', {'id': organisme_formation.id}) }}">edit</a>

    {{ include('organisme_formation/_delete_form.html.twig') }}
{% endblock %}
